._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.cover {
  position: relative;
}

.cover img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__bottom {
  padding-top: 110px;
  padding-bottom: 40px;
}

.top-footer {
  background-color: #4935bc;
  padding: 20px 0px 20px 0px;
  position: relative;
}

.top-footer__row {
  min-height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-footer__bg {
  position: absolute;
  width: 34%;
  height: 110%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

.top-footer__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right 0 top 0;
     object-position: right 0 top 0;
}

.top-footer__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 53.781512605%;
          flex: 0 1 53.781512605%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.top-footer__pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 121px;
          flex: 0 0 121px;
}

.top-footer__pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.top-footer__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 30px;
}

.top-footer__subtitle {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

.top-footer__title {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.bottom-footer {
  position: relative;
  background-color: #32228b;
}

.bottom-footer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bottom-footer__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.bottom-footer__body {
  position: relative;
  z-index: 2;
}

.bottom-footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

.bottom-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.bottom-footer__menu > li:not(:last-of-type) {
  margin: 0px 30px 0px 0px;
}

.bottom-footer__link {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: white;
  font-size: 21px;
  line-height: 1.1;
  text-transform: uppercase;
}

.bottom-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

.bottom-footer__action-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  row-gap: 5px;
}

.bottom-footer__action-menu > li:not(:last-child) {
  margin: 0px 12px 0px 0px;
}

.bottom-footer__social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.bottom-footer__social-link::before {
  color: black;
  font-size: 14px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.bottom-footer__rights {
  color: white;
  font-size: 18px;
}

@media (max-width: 1202px) {
  .top-footer__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media (max-width: 1190px) {
  .footer__bottom {
    padding-top: calc(40px + 70 * ((100vw - 320px) / (870)));
  }

  .footer__bottom {
    padding-bottom: calc(30px + 10 * ((100vw - 320px) / (870)));
  }
}

@media (max-width: 768px) {
  .top-footer__row {
    min-height: 190px;
  }

  .top-footer__bg {
    display: none;
  }

  .top-footer__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 495px) {
  .top-footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top-footer__text {
    text-align: center;
    margin: 20px 0px 0px 0px;
  }

  .bottom-footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (any-hover: hover) {
  .top-footer__title:hover {
    opacity: 0.5;
  }

  .bottom-footer__link:hover {
    text-decoration: underline;
  }

  .bottom-footer__social-link:hover::before {
    color: #ff5e14;
  }
}